
@model CompileError.Models.CustomerViewModel

<table>
    <tr>
        <th>Sl</th>
        <th>Code</th>
        <th>Name</th>
        <th>Address</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Loyality Ponit</th>
        <th>Action</th>
    </tr>
    @{ int i = 1;}
    @foreach (var customer in Model.Customers)
    {
        <tr>
            <td>@(i++)</td>
            <td>@customer.Code</td>
            <td>@customer.Name</td>
            <td>@customer.Address</td>
            <td>@customer.Contact</td>
            <td>@customer.Email</td>
            <td>@customer.LoyalityPoint</td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { Id = customer.Id })|
                @Html.ActionLink("Update", "Update", new { Id = customer.Id })|
            </td>
        </tr>
    }
</table>